<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Election result</title>
</head>
<body class="bg-gray-50">
    <nav class="p-6 bg-sky-100">
        <div class="container flex flex-wrap items-center justify-between mx-auto bg-white/30 p-4">
          <a href="/" class="flex items-center">
            <span class="self-center text-xl font-semibold whitespace-nowrap text-black  ">Voting System</span>
          </a>  
        </div>        
    </nav>  
    <div class="flex gap-1 bg-sky-100 shadow-md w-fit p-3 mx-10 mt-6 bg-gray-50">   
        <a href="/elections" class="text-black hover:text-sky-600 text-xl font-medium font-light">Home</a>
        <span class="text-black hover:text-sky-600 text-xl font-medium font-light">></span>
        <a href="/elections/<%= election.id %>/" class="text-black hover:text-sky-600 text-xl font-medium font-light">Election</a>
    </div>
    <h3 class="text-4xl my-4 font-medium bg-sky-100 p-3 uppercase text-center ml-10 mr-10 shadow-md font-light">View Result</h3>
    <div class="flex gap-1 bg-sky-100 shadow-md w-fit p-3 mx-10 mt-6 bg-gray-50">
        <p class="text-black hover:text-sky-600 text-xl font-medium font-light"><%= tv %> / <%= TV %> Votes Cast</p>
    </div>
    <div class=" flex  text-gray-800 antialiased flex-col  overflow-hidden bg-sky-50 py-5 sm:py-12 px-20">
        <div class="w-full">
            <div>
                <% if (messages && messages.error && messages.error.length > 0) { %>
                    <% for(var i=0; i<messages.error.length; i++) { %>
                        <p class="bg-purple-100 my-3 list-none rounded-md px-4 py-2"><%= messages.error[i] %></p>
                    <% } %>
                <% } %>
            </div>            
            <div class="pt-2">
                <div class="flex flex-col gap-6">                    
                  <% for (var i=0; i<questions.length; i++) { %>
                      <div class="flex-auto bg-sky-100 py-6 px-3 rounded p-2">
                        <div class="grid grid-cols-20 gap-0 text-black bg-white/30">
                            <div class="col-start-1 col-span-1 border px-3">            
                                <p class="py-2 text-3xl text-gray-600 font-light px-5">Question</p>   
                            </div>
                            <div class="col-start-2 col-span-7 border">            
                                <p class="py-2 px-10 text-2xl font-light text-gray-800"><%= questions[i].QuestionName %></p>   
                            </div>
                            <div class="col-span-1 border px-3">            
                                <p class="py-2 text-3xl font-light text-gray-600 px-5">Description</p>   
                            </div>
                            <div class="col-span-7 border">            
                                <p class="py-2 px-10 text-2xl font-light text-gray-800"><%= questions[i].Description %></p>   
                            </div>
                        </div>
                      </div>
                  <% } %>
                
                  <% for (var i=0; i<questions.length; i++) { %>
                          <div class="pt-6 pl-6 flex flex-col gap-4">
                              <% for (var j=0; j<options[i].length; j++) { %>
                                <div class="flex gap-2"><hr width="<%= percent[i][j] %>%" style="height:30px; border:none; color:rgb(37, 34, 37); background-color:rgb(37, 35, 37);" /><p class="flex items-center gap-2 text-xl  uppercase"><%= options[i][j].option %>:<b class="text-gray-700 text-2xl font-light"><%= percent[i][j] %> votes</b></p></div>
                              <% } %>
                          </div>
                      
                  <% } %>
                </div>
        </div>
    </div>
</body>
</html>